:root {
  --color-detalle: rgb(95, 228, 210);
  --flecha-on: rgb(19, 177, 5);
  --flecha-off: rgb(42, 70, 40);
  --fondo: black;
}

html {
  background-color: var(--fondo);
}

body {
  max-width: 100%; /* Limita el ancho del contenedor al ancho de la pantalla */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
  max-height: 100%;
}

.pantalla {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  justify-content: space-between;
}

.pantalla-clima {
  color: white;
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: 1fr;
  align-self: center;
  justify-content: space-between;
  font-size: 5vh;
}

.pantalla-principal {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flecha-izq,
.flecha-der {
  float: right;
  text-align: center;
  margin: auto 2em;
  align-self: center;
}

.velo {
  height: 30vh;
  text-align: center;
}

.velo * {
  align-items: center;
  justify-content: center;
  font-size: 20vh;
}

.veloc {
  margin: auto;
  line-height: 8vh;
}

.pantalla-secundario {
  margin: 0 auto;
  width: 95%;
  display: grid;
  min-height: 30vh;
  align-items: center;
  position: relative;
}

.subtitulo {
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 3vh;
  height: 6vh;
}

.button {
  background-color: rgb(73, 73, 73);
  color: white;
  border: var(--color-detalle);
  font-family: fantasy;
  transition-duration: 0.4s;
  border-radius: 10px;
  font-size: 1em;
  padding: 0.1em 0.4em;
}

.button:hover {
  background-color: rgb(28, 29, 28);
  color: white;
}

.datos {
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  height: 100%;
}

.datos * {
  margin: 5px 5px;
}

.dato-secundario {
  font-size: 2.9vh;
}

.pantalla-secundario > div {
  color: white;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.odometro {
  position: absolute;
  right: 10px;
  top: 10px;
}
.bateria {
  position: absolute;
  left: 40px;
  top: 10px;
}

.datos-trip{
  position: absolute;
  top: 80%;
  right: 50%;
  left: 50%;
display: flex;
flex-wrap: wrap;
}

.units {
  font-size: 3vh;
}

/* -- FLechas      -- */

.arrow-5 {
  /* more triangle */
  position: relative;
  height: 0px;
  width: 0px;
  border: 1.6em solid;
  border-color: var(--flecha-off) var(--flecha-off) transparent transparent;
  transform: rotate(45deg);
}

.arrow-5:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 2em;
  width: 2.5em;
  background-color: var(--flecha-off);
  transform: rotate(-45deg) translate(0.5em, 0.3em);
}

/* -- ARROW 5      -- */

.arrow-6 {
  /* more triangle */
  transform: rotate(-135deg);
}

.arrow-on {
  border-color: var(--flecha-on) var(--flecha-on) transparent transparent;
}

.arrow-on:before {
  background-color: var(--flecha-on);
}

@media (min-width: 600px) {
  .pantalla-principal {
    height: 45vh;
  }

  .pantalla-secundario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: max-content;
  }

  .datos {
    align-items: center;
    margin: 0.2em 0.2em;
  }

  .datos-trip {
    margin: none;
    position: unset;
  }

  .odometro {
    position: unset;
    
  }
  .bateria {
    position: unset;
    
  }

  .velo * {
    line-height: 30vh;
  }

  .subtitulo {
    font-size: 5vh;
  }

  .dato-secundario {
    font-size: 5vh;
  }
}
