:root {
  --color-detalle: rgb(95, 228, 210);
  --flecha-on: rgb(19, 177, 5);
  --flecha-off: rgb(42, 70, 40);
  --fondo: black;
}

html {
  background-color: var(--fondo);
}

html * {
  user-select: none;
}

body {
  width: 98vw; /* Limita el ancho del contenedor al ancho de la pantalla */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
  height: 98vh;
  min-height: ;
}

.alarmas {
  position: relative;
}

.alarma {
  width: 8vh;
  position: absolute;
  top: 5vw;
  transform: translate(-50%, -50%);
}

#alarma-on {
  display: none;
}

#pantalla {
  display: grid;
  grid-template:
    "clima" 20vh
    "principal" 35vh
    "ninguno" 8vh
    "secundario" 16vh;
  width: 95%;
  height: 95%;
}

#pantalla * {
  justify-content: space-between;
}

#pantalla-clima {
  grid-area: clima;
  display: flex;
  color: white;
  margin: 30px 10px -5vh 5%;
  align-self: center;
  font-size: 5vw;
}

#pantalla-principal {
  grid-area: principal;
  margin-top: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flecha-izq,
.flecha-der {
  float: right;
  text-align: center;
  margin: auto 2em;
  align-self: center;
}

#velo {
  display: flex;
  width: 100%;
  text-align: center;
}

.veloc {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.unit-velo {
  height: auto;
  flex: 20%;
}

#velocidad {
  font-size: 30vw;
  flex: 80%;
}

#pantalla-secundario {
  grid-area: secundario;
  display: flex;
  min-height: 30vh;
  align-items: center;
  justify-content: space-around;
}

.subtitulo {
  text-align: center;
  font-family: Gobold Black;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 5.5vw;
}

.button {
  background-color: rgb(73, 73, 73);
  color: white;
  border: var(--color-detalle);
  font-family: fantasy;
  transition-duration: 0.4s;
  border-radius: 10px;
  font-size: 2.5vh;
  padding: 0.1em 0.4em;
}

.button:hover {
  background-color: rgb(28, 29, 28);
  color: white;
}

.datos {
  margin: 2em 0 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datos * {
  margin: 5px 5px;
}

.dato-secundario {
  font-size: 3vh;
  flex: 1;
}

#pantalla-secundario > div {
  background-color: rgb(25, 26, 26);
  border-radius: 15px;
  /*border: 5px solid rgb(49, 49, 49);
  box-shadow: 0 0 10px 0 rgb(94, 91, 91);*/
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
}

.units {
  font-size: max(3vw, 3vh);
}

/* -----   Flechas   ----- */

.arrow-5 {
  /* more triangle */
  position: relative;
  height: 0px;
  width: 0px;
  border: 1.6em solid;
  border-color: var(--flecha-off) var(--flecha-off) transparent transparent;
  transform: rotate(45deg);
}

.arrow-5:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 2em;
  width: 2.5em;
  background-color: var(--flecha-off);
  transform: rotate(-45deg) translate(0.5em, 0.3em);
}

/* -- ARROW 5      -- */
.arrow-6 {
  /* more triangle */
  transform: rotate(-135deg);
}

.arrow-on {
  border-color: var(--flecha-on) var(--flecha-on) transparent transparent;
}

.arrow-on:before {
  background-color: var(--flecha-on);
}

@media (orientation: landscape) {
  #pantalla {
    grid-template:
      "clima" 10vh
      "principal" 45vh
      "ninguno" 5vh
      "secundario" 26vh;
  }
  #velocidad {
    font-size: 18vh;
  }

  .subtitulo {
    font-size: 5.5vh;
    /*margin: 10px 10px;*/
  }

  .alarma {
    width: max(8vw, 30px);
  }

  .dato-secundario {
    font-size: 2.5vw;
  }

  #pantalla-secundario > div {
    box-shadow: 0 0 10px 0 rgba(236, 229, 229, 0.5);
    height: 100%;
    width: 26%;
  }

  .button {
    font-size: 2.3vw;
  }
}
